.body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.header__inner {
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-left: 50px;
}
.header-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.header-nav__item {
    margin-right: 20px;
}

/* ボタンとリンクの共通スタイル */
.header-nav__link,
.header-nav__button {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.footer__inner p {
    margin: 0;
    color: #aaa;
    font-size: 14px;
}
